<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dai Di Online</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="icon" type="image/x-icon" href="static/imgs/Spades2.png">
    </head>
    <body>
        <header>
            <div class="header-left">Dai Di Online (Big Two)</div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main_menu') }}">Home</a></li>
                    <li><a href="{{ url_for('join_game') }}">Join</a></li>
                    <li><a href="{{ url_for('create_games') }}">Create</a></li>
                    <li><a href="{{ url_for('game_rules') }}">Rulez</a></li>
                </ul>
            </nav>
        </header>
        <h1>Welcome to Dai Di Online</h1>
        
        <div class="page">
            <div class="left">
                <img src="static/imgs/Diamonds2.png" alt="Two of Diamonds">
                <img src="static/imgs/Clubs2.png" alt="Two of Clubs">
            </div>
            <div class="middle">
                <div class="buttons">
                    <div class="button">
                        <p><a href="{{ url_for('create_games') }}">Create Game</a></p>
                    </div>
                    <div class="button">
                        <p><a href="{{ url_for('join_game') }}">Join Game</a></p>
                    </div>
                    <div class="button">
                        <p><a href="{{ url_for('game_rules') }}">Rulez</a></p>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="static/imgs/Hearts2.png" alt="Two of Hearts">
                <img src="static/imgs/Spades2.png" alt="Two of Spades">
            </div>
        </div>
    </body>
</html>
