<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dai Di Online</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="icon" type="image/x-icon" href="static/imgs/Spades2.png">
    </head>
    <body>
        <header>
            <div class="header-left">Dai Di Online (Big Two)</div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('templates', filename='index.html') }}">Home</a></li>
                    <li><a href="{{ url_for('templates', filename='join.html') }}">Join</a></li>
                    <li><a href="{{ url_for('templates', filename='create.html') }}">Create</a></li>
                    <li><a href="{{ url_for('templates', filename='rules.html') }}">Rulez</a></li>
                </ul>
            </nav>
        </header>
        <h1>Welcome to Dai Di Online</h1>
        
        <div class="page">
            <div class="left">
                <img src="static/imgs/Diamonds2.png" alt="Two of Diamonds">
                <img src="static/imgs/Clubs2.png" alt="Two of Clubs">
            </div>
            <div class="middle">
                <!-- Keep ALL code in here -->
            </div>
            <div class="right">
                <img src="static/imgs/Hearts2.png" alt="Two of Hearts">
                <img src="static/imgs/Spades2.png" alt="Two of Spades">
            </div>
        </div>
    </body>
</html>
