body {
    margin: 0 auto;
    padding: 0;
    align-items: center;
    text-align: center;
    
    background: radial-gradient(
        circle,
        #CC5500 0%,
        #CC5500 30%,
        #801818 100%
    );
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
    margin: 0;
}

.game-page {
    background: radial-gradient(
        circle,
        #35A542 0%,
        #35A542 30%,
        #244929 100%
    );
    min-height: 100vh;
}

button {
    width: 8em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}

a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    color: red;
    background: #eff;
}
