body {
    color: black;
    font-family: 'Monaco', monospace;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    text-align: center;
    
    background: radial-gradient(
        circle,
        #CC5500 0%,
        #CC5500 30%,
        #801818 100%
    );
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    padding: 1em 1em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-left {
    font-size: 1em;
    font-weight: bold;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header ul li {
    margin: 0 1em;
    vertical-align: middle;
    align-items: center;
}

header ul li a {
    color: black;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

img {
    width: 25%;
}

h1 {
    align-items: center;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    width: 35%;
    align-items: left;
    transform: rotate(315deg);
}

.middle {
    width: 30%;
    align-items: center;
}

.right {
    width: 35%;
    align-items: right;
    transform: rotate(45deg);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 100%;
    align-items: center;
}

.buttons p a {
    display: block;
    width: 100%;
    line-height: 2em;
    padding: 1em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: #DE8C09;
    color: black;
    text-align: center;
    text-decoration: none;
}

.buttons p a:hover {
    color: red;
    background-color: #182E6F;
}

.rules-middle {
    width: 30%;
    display: inline-block;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    align-items: top;
}

.create {
    display: block;
    border: 1px solid;
    border-radius: 0.5em;
    margin: 1em;
}

.games {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 2em;
    width: 75%;
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
}

.game {
    padding: 1em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: #7a1212;
    width: 100%;
}

.game a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
    text-decoration: none;
    min-width: 0;
}

.room-id {
    text-align: left;
    white-space: nowrap;
    margin-right: 1em;
}

.player-count {
    text-align: right;
    white-space: nowrap;
    margin-left: auto;
}

.game-page {
    background: radial-gradient(
        circle,
        #35A542 0%,
        #35A542 30%,
        #244929 100%
    );
    min-height: 100vh;
}
